[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GenWin"]
	path = GenWin
	url = https://github.com/cran/GenWin
	shallow = true
	registered = true
